<main>
  <div class="container">
    <div class="flex-box">
      <div class="form-box box">
        <a class="back-button" routerLink="/">
          <span class="material-symbols-outlined"> arrow_back </span>
        </a>
        <h1 class="title one">Cadastre transação</h1>
        <app-register-transaction-form></app-register-transaction-form>
      </div>
      <app-total></app-total>
      <ul class="transaction-list" *ngIf="transactionList.length > 0">
        <app-transaction-card
          *ngFor="let transaction of transactionList"
          [transaction]="transaction"
        ></app-transaction-card>
      </ul>
      <p *ngIf="transactionList.length === 0" class="paragraph">
        Cadastre-se sua primeira transação.
      </p>
    </div>
  </div>
</main>
