$color-black: #000000;
$color-white: #FFFFFF;
$color-blue1: #428DFF;
$color-blue2: #AECFFF;
$color-red: #FF8989;
$color-gray: #F5F5F5;
$font-primary: 'Montserrat', sans-serif;

body{
    background: $color-blue2;
}